*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
chrome_extension/node_models
client_libraries/node_models
client_libraries/download_data/*
npm-debug.log
